@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@200;400&family=Lexend+Zetta:wght@400&family=Castoro+Titling:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.lexend {
  font-family: "Lexend Exa", sans-serif;
}

.lexendzetta {
  font-family: "Lexend Zetta", sans-serif;
}

.castoro {
  font-family: "Castoro Titling", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: url("/assets/cursor.svg") 8 8, auto;
  transition: cursor 0.3s ease-in-out;
}

#projects,
#contact {
  cursor: url("/assets/cursor-white.svg") 8 8, auto;
  transition: cursor 0.3s ease-in-out;
}
